# Mini Quiz

### 1️⃣ Quiz Question - Given the python list: 

```python
L = [13,17,31,37,73]
```
Write one line of Python code that removes the value 31 from the list by value, not by index.
After your code executes, the list should become:

```python
L = [13,17,31,37,73]
```

In [5]:
L = [13,17,31,37,73]
L.remove(31)
L

[13, 17, 37, 73]

### 2️⃣ Quiz Question — Accessing Tuple Elements

Given the following tuple:

```python
T = (13, 17, 31, 37, 73)
```

Write one line of Python code that accesses the second element of the tuple and stores it in a variable named x.

In [1]:
# Answer 2
T = (13,17,31,37,73)
x = T[1]
x

17

### 3️⃣ Quiz Question — Changing Tuple Elements

Given the following tuple:

```python
T = (13, 17, 31, 37, 73)
```

Write the necessary Python code that would change the second element of the tuple to 11.

In [2]:
# Answer 3
T = (13,17,31,37,73)

T_list = list(T)
T_list[1] = 11
T = tuple(T_list)

T

(13, 11, 31, 37, 73)

### 4️⃣ Quiz Question — Dictionary keys

Given the following dicitonary:

```python
D = {
    "apple":"10",
    "banana":"11",
    "cherry":"8"
}
```

Write the necessary Python code that would print the keys of the the dictionary D.

In [3]:
# Answer 4
D = {
    "apple": "10",
    "banana": "11",
    "cherry": "8"
}

D.keys()

dict_keys(['apple', 'banana', 'cherry'])